{% extends 'base.html' %}

{%block title%}Modyfikacja danych transakcji{%endblock%}

{%block content%}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{username}} {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <h1>Change Credentials</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.Data_transakcji.label(class="form-label") }}
        {{ form.Data_transakcji(class="form-control", value = transakcja.Data_transakcji) }}
        {{ form.ID_Produktu.label(class="form-label") }}
        {{ form.ID_Produktu(class="form-control", value = transakcja.ID_Produktu) }}
        {{ form.ID_Pracownika.label(class="form-label") }}
        {{ form.ID_Pracownika(class="form-control", value = transakcja.ID_Pracownika) }}
        {{ form.ID_Klienta.label(class="form-label") }}
        {{ form.ID_Klienta(class="form-control", value = transakcja.ID_Klienta) }}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
<br/><br/><br/>

{%endblock%}